.file-input-label {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  color: transparent;
}

.file-input-label:hover {
  background-color: #E0E0E0a6;
  color: #334049;
}

.file-loader {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  border-radius: 50%;
  font-size: 40px;
  text-align: center;
  color: #00B176;
}
